.collapsible {
    position: relative;

    width: 45%;
    min-height: 5vh;

    cursor: pointer;
    /* background-color: navy; */
}

.collapsible span{
    aspect-ratio: 1;
    height: 100%;

    position: absolute;
    right: 0;

    transform: rotate(180deg);
    transition: transform 0.15s ease;

    border: 0;
    background: url(../assets/media/arrow.svg);
    z-index: 1;

    filter: invert();
}

.left {
    position: absolute;
    left: 0;

    width: 100%;
    min-height: 5vh;

    /* background-color: aqua; */
}

.collapsible .left-c1 {
    position: absolute;

    width: 90%;
    
    min-height: 4.5vh;
    line-height: 4.5vh;
}

.hidden {
    display: none;
}