.collapsible {
    position: relative;

    width: 100%;
    min-height: 5vh;

    background-color: yellow;
}

.collapsible button {
    aspect-ratio: 1;
    height: 100%;

    position: absolute;
    right: 0;

    transform: rotate(180deg);
    transition: transform 0.15s ease;

    border: 0;
    background: url(../assets/media/arrow.svg);
    z-index: 1;
}

.collapsible .left {
    position: absolute;
    left: 0;

    width: 100%;
    min-height: 5vh;

    /* background-color: aqua; */
}

.collapsible .hidden {
    display: none;
}