#page {
    height: 90vh;
    width: 100%;
    /* background-color: yellow; */
}

#title {
    height: 7vh;
    font-size: 6vh;
    line-height: 7vh;

    text-align: center;
    color: white;
}

#version {
    height: 3vh;
    font-size: 2vh;
    line-height: 3vh;

    text-align: left;
    /* padding-left: 2%; */

    color: white;
}
