@import url(layout.css);
@import url(collapsible.css);
@import url(search.css);
@import url(animebox.css);

:root {
    --bg-color: #191d23;
}

html, body {
    margin: 0;

    background-color: var(--bg-color);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* scroll-behavior: smooth; */
}

.no-highlight {
    user-select: none;
}

.block {
    display: block;
}

.sticky {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    /* background-color: transparent; */
}

.-top{
    top: 0rem;
    align-self: flex-start;
    /* background-color: blue; */
}

.-bottom{
    bottom: 0rem;
    align-self: flex-end;
    /* background-color: red; */
}

#main {
    position: absolute;
    height: 100vh;
    width: 100%;

    top: 0;
    left: 0;

    /* overflow: hidden; */
}

.list-tab {
    font-size: 3vh;
    min-height: 5vh;
    line-height: 5vh;
    width: 45%;
    background-color: red;

    color: white;
}