@import url(layout.css);
@import url(collapsible.css);
@import url(search.css);
@import url(animebox.css);
@import url(wheel.css);
@import url(history.css);
@import url(role.css);
@import url(one-button.css);
@import url(one-entry.css);

:root {
    --bg-color: #191d23;
    --secondary-color: #262c36;
}

html, body {
    margin: 0;

    background-color: var(--bg-color);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* scroll-behavior: smooth; */
}

.no-highlight {
    user-select: none;
}

.block {
    display: block;
}

.sticky {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    /* background-color: transparent; */
}

.-top{
    top: 0rem;
    align-self: flex-start;
    /* background-color: blue; */
}

.-bottom{
    bottom: 0rem;
    align-self: flex-end;
    /* background-color: red; */
}

#main {
    position: absolute;
    height: 100vh;
    width: 100%;

    top: 0;
    left: 0;

    /* overflow: hidden; */
}

.list-tab {
    font-size: 3vh;
    min-height: 5vh;
    line-height: 5vh;
    width: 100%;
    /* background-color: red; */
    position: relative;

    color: white;
}

.btn-style {
    border-radius: 5px 5px 5px 5px;
    border: none;
    background-color: white;
}

.btn-style:hover {
    background-color: rgb(245, 243, 243);
}

.main-btn {
    width: 25%;
    height: 3vh;

    line-height: 2vh;
    font-size: 2vh;
}

.manage-btn {
    width: 50%;
    height: 4vh;

    line-height: 3vh;
    font-size: 2.5vh;

    float: right;
}