#manage-popup {
    display: block;
    position: absolute;

    background-color: var(--secondary-color);
    color: white;

    left: 30%;
    top: 15%;
    width: 40%;
    height: 10%;
    /* min-height: 50%; */

    z-index: 99;
    opacity: 1;

    border-radius: 5px 5px 5px 5px;

    /* overflow: auto; */
    display: none;
}

#manage-popup .btn-style {
    position: absolute;
    display: block;
    left: 20%;
    width: 60%;
    height: 45%;
    line-height: 3vw;
    font-size: 2.5vw;
}